# SPDX-License-Identifier: MIT

install/
build/
# We specify the place where cpack will ouptut packages to be this dir.
packages/

# Directory created by vcpkg in manifest mode (using vcpkg.json).
vcpkg_installed/

# It is common for Git users to ignore directories like .vscode/, so un-ignore
# it.
!.vscode/
